<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="page-container">
  <div class="section-container"><span class="name">Jakub Kokot</span></div>
  <div class="section-container hidden">
    <ul class="section-container__text-content">
      <li class="list-element">
        I specialize in developing web software based on Angular technology and
        possess extensive skills in interface design and adapting specifications
        to meet varying client requirements and user behaviors.
      </li>
    </ul>
  </div>
  <div class="section-container hidden">
    <ul class="section-container__text-content">
      <li class="list-element">
        I am eager to collaborate as an Angular Developer in a project that will
        enable me to further develop in this direction.
      </li>
    </ul>
  </div>
  <div class="section-container hidden">
    <ul class="section-container__text-content">
      <li class="list-element">
        I have experience in creating software for the logistics, sports, and
        legal industries.
      </li>
    </ul>
  </div>
  <span class="title"></span>
  <span></span>
  <span></span>
  <span></span>
</div>
